<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}{% endblock %}</title>
       	<!-- <script src="script/jquery-1.6.4.min.js"></script>
	  	<script src="script/jquery.mobile-1.0.1.min.js"></script>
	  	<link rel="stylesheet" href="style/jquery.mobile-1.0.1.min.css" /> -->
        <link rel="stylesheet" type="text/css" href="/style/main.css" />
        <META NAME="ROBOTS" CONTENT="NOFOLLOW">
        <meta property="og:image" content="http://www.matchcomment.com/images/logo.png" />
        <meta property="og:title" content="MatchComment" />
        <meta property="og:type" content="product" />
        <meta property="og:url" content="http://www.matchcomment.com" />
        <!--<link rel="icon" type="image/png" href="/images/favicon.png">-->
        {% ifequal request.path "/match" %}
            <!--<META HTTP-EQUIV="REFRESH" CONTENT="100">
            <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">-->
        {% endifequal%}
        {% block head %}{% endblock %}
        <!-- Google Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-4287371-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
	    <!--<div data-role="page" id="main" data-theme="">
	    	<div data-role="content" align="left">  -->
		        <div id="body" class="bodywrapper">
		            <div id="top_main_navigation">
		                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="top_main_navigation">
		                    <tr>
		                        <td width="120" height="20" align="left" valign="middle">
		                            <a title="MatchComment - sport connections" href="/"><h1 class="matchcommentlogo">MatchComment</h1></a>&nbsp;<span class="logo"">ALPHA</span>
		                        </td>
		                    </tr>
		                </table>
		                <table width="100%" cellpadding="0" cellspacing="0" border="0" class="top_main_navigation">
		                    <tr>
		                        <td align="left" valign="bottom">
		                            <a href="/">Home</a>&nbsp;&nbsp;<span class="slogan">|</span>&nbsp;
		                            {% if user %}
		                            <a href="/profile">Matches</a>&nbsp;&nbsp;<span class="slogan">|</span>&nbsp;
		                            <a href="/profile">Teams</a>&nbsp;&nbsp;<span class="slogan">|</span>&nbsp;
		                            <a href="/profile">Players</a>&nbsp;&nbsp;<span class="slogan">|</span>&nbsp;		                            
		                            <a href="/profile">Profile</a>&nbsp;&nbsp;<span class="slogan">|</span>&nbsp;
		                            <a href="/profile">Networks</a>&nbsp;&nbsp;<span class="slogan">|</span>&nbsp;
		                            <a href="/profile">Settings</a>&nbsp;&nbsp;<span class="slogan">|</span>&nbsp;
		                            {% endif %}
		                            {% ifequal profile.userType "admin" %}
		                            <a href="/admin">Admin</a>&nbsp;&nbsp;<span class="slogan">|</span>&nbsp;
		                            {% endifequal %}
		                            {% if user %}
		                                {% if profile.loginMechanism != "facebook" %}
		                                <a href="{{ logout_url }}">Logout</a>
		                                {% else %}
		                                <a href="/facebookLogout">Logout</a></td>
		                                {% endif %}
		                            {% else %}
		                                <a href="/loginPageView">Login</a>&nbsp;&nbsp;<span class="slogan">|</span>
		                            {% endif %}
		                        </td>
		                    </tr>
		                </table>
		            </div>
		            <div id="content">
		                <!--<h1>{% block pagetitle %}P A G E  T I T L E{% endblock %}</h1>-->
		                {% block content %}C O N T E N T{% endblock %}
		            </div>
		            <div id="adsense">
		            	<script type="text/javascript"><!--
							google_ad_client = "ca-pub-2708237524013108";
							/* matchcomment_main_view */
							google_ad_slot = "7475035977";
							google_ad_width = 320;
							google_ad_height = 50;
							//-->
							</script>
							<script type="text/javascript"
							src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
						</script>
		            </div>
		            <div id="footer" align="left" class="footer">
		                &#169; 2011 - MatchComment.com | <a style="font-size: 6pt;" href="mailto:info@matchcomment.com">info@matchcomment.com</a>
		            </div>
		        </div>
			<!--</div>
        </div>  -->
    </body>
</html>

